# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environments
venv/
.venv/
venv312/
.venv312/
env/

# Project Data
!data/.gitkeep
data/
src/gui_review.py
review.py
test.py

# Models & Executables
tools/whisper-cli.exe
tools/*.dll
tools/TwitchDownloaderCLI.exe
tools/SDL2.dll.unuse
tools/whisper-cli.exe.old
!tools/.gitkeep
!models/.gitkeep
models/

# Docs
docs/
!docs/cheatsheet.md
!docs/.gitkeep
!docs/NOOB_GUIDE.md

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db